<app-bread-crumb [items]="[{text: 'Associar Produtos'}]" ></app-bread-crumb>


<app-page-header page-title="Associação de novo produto" button-text="<< Voltar" button-class="btn-light" button-link="/usuario-produtos" ></app-page-header>


<form [formGroup]="baseForm" (submit)='submitForm()'>
  <div class="card">  
    <div class="card-header">
      Informações do Usuário
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Usuário</label>
          <select name="idUsuario" id="idUsuario" formControlName="idUsuario" class="form-control" [(ngModel)]="usuarioSelect" >
            <option *ngFor="let option of usuarios" [value]="option.id"> {{option.nome}} -  {{option.nomeEmpresa}}  </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="email">Produto</label>
          <select name="idProduto" id="idProduto" formControlName="idProduto" class="form-control" [(ngModel)]="produtoSelect" >
            <option *ngFor="let option of produtos" [value]="option.id"> {{option.descricao}} </option>
          </select>
        </div>
      </div>
       <div class="form-row">
        <div class="form-group col-md-1">
          <label for="quantidade">Qtde:</label>
         
          <input type="text" id="quantidade" class="form-control" formControlName="quantidade">
        </div> 
        <div class="form-group col-md-2">
          <label for="dataInicio">Data Início:</label>
           <p-calendar id="dataInicio" formControlName="dataInicio" 
              inputStyleClass="form-control"
              dataType="string" 
              dateFormat="dd/mm/yy"
              [locale]="ptBR"
              [showButtonBar]="true" >
          </p-calendar>
          
        </div> 
        <div class="form-group col-md-2" *ngIf="this.currentAction == 'edit'" >
          <label for="dataFim">Data Fim:</label>
          <p-calendar id="dataFim" formControlName="dataFim" 
              inputStyleClass="form-control"
              dataType="string" 
              dateFormat="dd/mm/yyyy"
              [locale]="ptBR"
              [showButtonBar]="true" >
          </p-calendar>
        </div> 
       </div>
    </div>
  </div>
  
<table class="table table-hover">
  <thead>
    <tr class="bg-success text-light">
      <th>Produto</th>
      <th>Valor R$</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of resource.produtos" >
      <td>
        {{item.descricao}}
      </td>
      <td>{{item.valor}}</td>
    </tr>
    
  </tbody>
</table>


  <button type="submit" class="btn btn-primary btn-lg float-right mt-3" [disabled]="this.submittingForm || this.baseForm.invalid" >Salvar</button>
</form>