<app-bread-crumb [items]="[{text: 'Usuários'}]" ></app-bread-crumb>

<app-page-header page-title="Usuários" button-text="+ Novo Usuários" button-class="btn-success" button-link="new" ></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-success text-light">
      <th>Nome</th>
      <th>Empresa</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of model" >
      <td>
        <span *ngIf="!item.ativo">*</span>
        <strong>{{item.nome}}</strong> <br>
        <small>{{item.email}}</small>
      </td>
      <td>
        <span *ngIf="item.empresa">
          {{item.empresa.nome}}
        </span>
      </td>
      <td>
        <a [routerLink]="[item.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <a (click)="delete(item)" class="btn btn-outline-danger btn-sm">Excluir</a>
      </td>
    </tr>
    
  </tbody>
</table>